# data
data
*.csv
*.pkl
.idea
DQN-best

# vscode
__pycache__
.vscode
.idea/*

# others
_*/
*log/
#*results/
log/
log_*
agent_log/
train_log/
experiment/__pycache__/
experiment/*log/
experiment/aux_log/
preprocessing.log
vital names.txt
/optuna_playground/wandb/
/optuna_playground/log/
/optuna_playground/*.db
/run_rl/*/wandb/
/run_rl/*/log/
/experiments/*/*.db
/experiments/*.db
/run_rl/best_log/
output
offline_results/NS/
*.hdf5
experiment/OberstSepsisEnv-discrete-biased_5000_ep0_rep0-DQN-NS_plain-greedy-False.db
DTRGym/*/offline_data/*.csv
DTRGym/*/offline_data/*.hdf5
DTRGym/*/offline_data/*.h5
DTRGym/*/offline_data/*.xlsx
DTRGym/*/offline_data/*.png
DTRGym/*/offline_data/*.pdf
DTRGym/*/offline_data/plots/
DTRGym/*/*plots/*.pdf
DTRGym/*/*plots/*.png

log/online/*
log/offline/*
ICML result*
*wandb*/
*/*wandb*/
*/*/*wandb*/
*/*/*/*wandb*/
*/*/*/*/*wandb*/

runs/
*/runs/
*/*/runs/
*/*/*/runs/
*/*/*/*/runs/

experiment/saved_models/*/
experiment/results
experiment/naive_baseline/



